#-----------------------------------------------------------------
# setlx2py:  setlx_ast_gen.cfg
#
# Defines the AST Node classes used in setlx2py.
# 
# Each entry is a Node sub-class name, listing the attributes
# and child nodes of the class:
#   <name>*     - a child node
#   <name>**    - a sequence of child nodes
#
#   <name>      - an attribute
#
# Copyright (C) 2013, Jan-Christoph Klie
# License: Apache v2
#-----------------------------------------------------------------

ArrayRef: [obj*, subscript*]
Assignment: [op, left*, right*]
AssignmentList: [assignments**]
BinaryOp: [op, left*, right*]
Constant: [type, value]
ExprList: [exprs**]
FileAST: [stmts**]
Iterator: [assignable*, expression*]
IteratorChain: [iterators**]
MemberAccess: [obj*, field*]
Quantor: [name, lhs*, cond*]
Term: [name, args*]
UnaryOp: [op, expr*]
Variable: [name]