#-----------------------------------------------------------------
# setlx2py:  setlx_ast_gen.cfg
#
# Defines the AST Node classes used in setlx2py.
# 
# Each entry is a Node sub-class name, listing the attributes
# and child nodes of the class:
#   <name>*     - a child node
#   <name>**    - a sequence of child nodes
#   <name>      - an attribute
#
#-----------------------------------------------------------------

BinaryOp: [op, left*, right*]
Constant: [type, value]
FileAST: [stmt**]
UnaryOp: [op, expr*]