#-----------------------------------------------------------------
# setlx2py:  setlx_ast_gen.cfg
#
# Defines the AST Node classes used in setlx2py.
# 
# Each entry is a Node sub-class name, listing the attributes
# and child nodes of the class:
#   <name>*     - a child node
#   <name>**    - a sequence of child nodes
#
#   <name>      - an attribute
#
# Copyright (C) 2013, Jan-Christoph Klie
# License: Apache v2
#-----------------------------------------------------------------

ArrayRef: [obj*, subscript*]
Assert: [cond*, expr*]
Assignment: [op, left*, right*]
AssignmentList: [assignments**]
BinaryOp: [op, left*, right*]
Backtrack: []
Block: [stmts**]
Break: []
CachedProcedure: [params*, body*]
Case: [cond*, block*]
CaseList : [cases**]
Continue: []
Constant: [type, value]
Default: [block*]
DoWhile: [cond*, body*]
Exit: []
ExprList: [exprs**]
FileAST: [stmts**]
For: [iterator_chain*, body*]
If: [cond*, iftrue*, iffalse*]
Iterator: [assignable*, expression*]
IteratorChain: [iterators**]
Lambda: [params*, body*]
MemberAccess: [obj*, field*]
Param : [name]
ParamList : [params**]
Procedure: [params*, body*]
Quantor: [name, lhs*, cond*]
Return : [expr*]
Switch : [case_list*, default*]
Term: [name, args*]
UnaryOp: [op, expr*]
Variable: [name]
While: [cond*, body*]